<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931657969351-se7t02j46ib8aoncl5m6hoiecm224qto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931657969351-se7t02j46ib8aoncl5m6hoiecm224qto</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>931657969351-d6ulet0s9vr49ll02jruellsp0k0k9lq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9OvLHNcKUMbRQhdn5FGUAi7khLhel4CI</string>
	<key>GCM_SENDER_ID</key>
	<string>931657969351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquapoke</string>
	<key>PROJECT_ID</key>
	<string>aquapoke-test</string>
	<key>STORAGE_BUCKET</key>
	<string>aquapoke-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931657969351:ios:8b0c9da6a28e705942d8e2</string>
</dict>
</plist>